.login-form {
  display: grid;
  margin: 0 auto;
  max-width: 300px;
  text-align: center;
  /* grid-template-columns: 1fr 1fr;
  grid-row-gap: 20px; */
}
.login-social {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}
.login-form-button {
  width: 100%;
}
.text-error {
  color: red;
}
.text-center {
  text-align: center;
}
